.dbf-navigator-cancelled {
  text-decoration: line-through;
  color: gray;
}

.dbf-navigator-delay {
  color: red;
}

.dbf-navigator-realdeparture {
  color: green;
}

.dbf-navigator-container {
  text-align: left;
}

.dbf-navigator-container table td,
.dbf-navigator-container table th {
  vertical-align: top;
}