.dbf-navigator-cancelled {
  text-decoration: line-through;
  color: gray;
}

.dbf-navigator-delay {
  color: red;
}

.dbf-navigator-realdeparture {
  color: green;
}

.dbf-navigator-container {
  text-align: left;
}

.dbf-navigator-container table td,
.dbf-navigator-container table th {
  vertical-align: top;
}

.dbf-navigator-messages td {
  font-size: 0.7em;
  line-height: 1.2em;
  color: orange;
  padding-top: 0;
}