<h2 class="MMM-DBF-Navigator">{{from}}</h1>
<div class="dbf-navigator-container">
  <table class="dbf-navigator-table">
    <thead>
      <tr>
        <th>{{header.train}}</th>
        <th>{{header.destination}}</th>
        <th>{{header.departure}}</th>
      </tr>
    </thead>
    <tbody>
      {% for train in trains %}
      <tr class="{{ "mmm-dbf-cancelled" if train.cancelled else "" }}">
        <td>{{ train.name }}</td>
        <td>{{ train.destination }}</td>
        {% if train.delay > 0 %}
          <td>
            {{ train.scheduledDeparture }} – {{ train.realDeparture }} 
            <span class="dbf-navigator-delay">
              +{{train.delay}}
            </span> ({{ train.relativeTime }})
          </td>
        {% else %}
          <td>
            <span class="dbf-navigator-ontime">
          {{ train.scheduledDeparture }} 
          </span>
          ({{ train.relativeTime }})</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>