.MMM-DBF-Navigator div {}

.mmm-db-cancelled {
  text-decoration: line-through;
  color: gray;
}

.dbf-navigator-delay {
  color: red;
}

.dbf-navigator-realdeparture {
  color: green;
}

.dbf-navigator-container {
  text-align: left;
}